<!-- views/applications/show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="/stylesheets/show.css" />
    <title><%= candy.name %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="show-body">
        <div class="show-header">
            <h1>Candy Details</h1>
    <h1><%= candy.name %> - <%= candy.flavor %></h1>
    <div class="show-sidebar">
        <div class="show-actions">


    <p>Sweetness Level: <%= candy.sweetnessLevel %></p>
    <p>Price: $<%= candy.price %></p>
    <a href="/users/<%= user._id %>/candies/<%= candy._id %>/edit">
      Edit this candy
    </a>
    <form
      action="/users/<%= user._id %>/candies/<%= candy._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Delete this candy</button>
    </form>
        </div>
        <div class="show-notes-container">
          <h2>Notes</h2>
          <ul>
            <% candy.notes.forEach((note) => { %>
              <li><%= note %></li>
            <% }) %>
          </ul>
        </div>
  </body>
</html>

  

